.idea/

# Config and Htaccess Files
/admin/

catalog/*
!catalog/view/theme/default/template/product/product.tpl

download/*
image/*
install/*
_install/*
system/*

.htaccess.txt
config-dist.php
config.php
index.php
php.ini